<a href="https://colab.research.google.com/github/hopperrr/air_traffic/blob/main/air_traffic_flights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Get traffic for US
#https://opensky-network.org/api/states/all?lamin=30.038&lomin=-125.974&lamax=52.214&lomax=-68.748
#ping it twice to create lines connecting these points to show direction of flights over storms.
!wget 'https://opensky-network.org/api/states/all?lamin=24.00&lomin=-125.974&lamax=52.214&lomax=-68.748' -O 'flights.json'
#36.829,-103.025  25.080,-84.708

--2022-11-01 23:33:29--  https://opensky-network.org/api/states/all?lamin=24.00&lomin=-125.974&lamax=52.214&lomax=-68.748
Resolving opensky-network.org (opensky-network.org)... 194.209.200.2
Connecting to opensky-network.org (opensky-network.org)|194.209.200.2|:443... connected.
HTTP request sent, awaiting response... 200
Length: unspecified [application/json]
Saving to: ‘flights.json’

flights.json            [      <=>           ] 556.40K   351KB/s    in 1.6s

2022-11-01 23:33:31 (351 KB/s) - ‘flights.json’ saved [569753]

In [ ]:
import json
import pandas as pd
with open('/content/flights.json', 'r') as flights:
  flight_data = json.load(flights)
df = pd.json_normalize(flight_data, record_path='states', meta=['time'])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,time
0,ad4f1d,N957ES,United States,1667345597,1667345598,-97.7276,35.3714,1996.44,False,36.56,177.58,2.60,None,2065.02,None,False,0,1667345603
1,a665aa,FSR511,United States,1667345602,1667345602,-88.4456,37.7473,12489.18,False,240.13,3.32,-1.95,None,12793.98,None,False,0,1667345603
2,aa9321,UAL20,United States,1667345603,1667345603,-87.1923,35.8059,10668.00,False,295.47,43.59,0.00,None,11033.76,None,False,0,1667345603
3,ade18c,AAL1771,United States,1667345603,1667345603,-99.6202,33.4921,9837.42,False,212.62,288.48,3.25,None,10157.46,None,False,0,1667345603
4,a3b87f,DAL2244,United States,1667345603,1667345603,-82.1709,41.2765,10363.20,False,228.68,294.03,0.00,None,10637.52,7071,False,0,1667345603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4265,c00741,WJA529,Canada,1667345513,1667345513,-89.0467,47.0644,12192.00,False,208.92,301.30,0.00,None,12344.40,None,False,0,1667345603
4266,a11d08,N171BL,United States,1667345602,1667345602,-79.2875,35.4567,1318.26,False,63.23,320.61,0.00,None,1386.84,None,False,0,1667345603
4267,a12403,UAL2294,United States,1667345602,1667345602,-90.6944,41.0342,10363.20,False,236.90,261.13,0.00,None,10629.90,None,False,0,1667345603
4268,a73ed2,N566SP,United States,1667345597,1667345598,-97.1457,32.3981,525.78,False,48.73,79.05,-2.28,None,548.64,None,False,0,1667345603
4269,a05dba,UAL1762,United States,1667345602,1667345602,-104.5440,39.4652,4457.70,False,188.73,156.72,13.66,None,4556.76,None,False,0,1667345603

In [ ]:
df.iloc[:, [5, 6]]

In [ ]:
gfg_csv_data = df.to_csv('GfG.csv', index = True)